certifi==2018.8.24
cffi==1.11.5
h5py==2.8.0
mkl-fft==1.0.4
mkl-random==1.0.1
numpy==1.15.1
olefile==0.45.1
Pillow==5.2.0
progressbar==2.5
protobuf==3.6.1
pycparser==2.18
PyYAML==3.13
scikit-learn==0.19.2
scipy==1.1.0
six==1.11.0
sklearn==0.0
tensorboardX==1.4
torch==0.4.1
torchvision==0.2.1
